/* Start Box */
.d-flex {
 display: flex;
}
.f-wrap {
 flex-wrap: wrap;
}
.f-column {
 flex-direction: column;
}
.align-center {
 align-items: center;
}
.space-between {
 justify-content: space-between;
}
.d-grid {
 display: grid;
}
.gap-20 {
 gap: 20px;
}
.gap-10 {
 gap: 10px;
}
.gap-5 {
 gap: 5px;
}
.d-block {
 display: block;
}
.d-none {
 display: none;
}
@media (max-width: 767px) {
 .block-mobile {
  display: block;
 }
 .hide-mobile {
  display: none;
 }
}
/* End Box */
/* Start Padding + Margin */
.p-10 {
 padding: 10px;
}
.p-15 {
 padding: 15px;
}
.p-20 {
 padding: 20px;
}
.pt-10 {
 padding-top: 10px;
}
.pt-15 {
 padding-top: 15px;
}
.pt-20 {
 padding-top: 20px;
}
.pb-10 {
 padding-bottom: 10px;
}
.pb-15 {
 padding-bottom: 15px;
}
.pb-20 {
 padding-bottom: 20px;
}
.pl-15 {
 padding-left: 15px;
}
.m-0 {
 margin: 0;
}
.m-15 {
 margin: 15px;
}
.m-20 {
 margin: 20px;
}
@media (max-width: 768px) {
 .p-15 {
  padding: 10px;
 }
 .p-20 {
  padding: 10px;
 }
 .m-15 {
  margin: 10px;
 }
 .m-20 {
  margin: 10px;
 }
 .gap-20 {
  gap: 10px;
 }
}
.mt-0 {
 margin-top: 0;
}
.mt-3 {
 margin-top: 3px;
}
.mt-5 {
 margin-top: 5px;
}
.mt-10 {
 margin-top: 10px;
}
.mt-15 {
 margin-top: 15px;
}
.mt-20 {
 margin-top: 20px;
}
.mt-25 {
 margin-top: 25px;
}
.mr-10 {
 margin-right: 10px;
}
.mr-15 {
 margin-right: 15px;
}
.mr-20 {
 margin-right: 20px;
}
.ml-20 {
 margin-left: 20px;
}
.mb-5 {
 margin-bottom: 5px;
}
.mb-10 {
 margin-bottom: 10px;
}
.mb-15 {
 margin-bottom: 15px;
}
.mb-20 {
 margin-bottom: 20px;
}
.mb-25 {
 margin-bottom: 25px;
}
/* End Padding + Margin */
/* Start Color */
.c-black {
 color: var(--dark);
}
.c-white {
 color: var(--white-color);
}
.c-grey {
 color: var(--grey-color);
}
.c-dark {
 color: var(--dark);
}
.c-eee {
 color: var(--eee-color);
}
.c-red {
 color: var(--red-color);
}
.c-green {
 color: var(--green-color);
}
.c-main {
 color: var(--main-color);
}
.c-blue {
 color: var(--blue);
}
.c-orange {
 color: var(--orange-color);
}
.bg-red {
 background-color: var(--red-color);
}
.bg-green {
 background-color: var(--green-color);
}
.bg-main {
 background-color: var(--main-color);
}
.bg-blue {
 background-color: var(--blue);
}
.bg-orange {
 background-color: var(--orange-color);
}
.bg-white {
 background-color: var(--white-color);
}
.bg-eee {
 background-color: var(--eee-color);
}
/* End Color */
/* Start Position */
.p-relative {
 position: relative;
}
.p-absolute {
 position: absolute;
}
/* End Position */
/* Start Font */
.txt-c {
 text-align: center;
}
.txt-upper {
 text-transform: uppercase;
}
.txt-capitalize {
 text-transform: capitalize;
}
.fs-13 {
 font-size: 13px;
}
.fs-14 {
 font-size: 14px;
}
.fs-15 {
 font-size: 15px;
}
.fs-16 {
 font-size: 16px;
}
.fs-17 {
 font-size: 17px;
}
.fs-20 {
 font-size: 20px;
}
.fs-25 {
 font-size: 25px;
}
.fw-bold {
 font-weight: bold;
}
@media (max-width: 767px) {
 .txt-c-mobile {
  text-align: center;
 }
}
/* End Font */
/* Start Border */
.rad-6 {
 border-radius: 6px;
}
.rad-10 {
 border-radius: 10px;
}
.rad-15 {
 border-radius: 15px;
}
.rad-half {
 border-radius: 50%;
}
.b-none {
 border: none;
}
.border-ccc {
 border: 1px solid var(--ccc-color);
}
.border-eee {
 border: 1px solid var(--eee-color);
}

/* End Border */
/* Start Width + Height */
.w-full {
 width: 100%;
}
.w-100 {
 width: 100px;
}
.w-fit {
 width: fit-content;
}
.h-full {
 height: 100%;
}
.h-100 {
 height: 100px;
}
/* End Width + Height */
/* Start Components */
.center-flex {
 display: flex;
 align-items: center;
 justify-content: center;
}
.between-flex {
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.btn-shape {
 padding: 5px 12px;
 border-radius: 6px;
 transition: 0.2s linear;
}
.btn-shape:hover {
 background-color: var(--dark);
}
/* End Components */
